.md-header {
  background-color: #181818 !important;
  box-shadow: none;
}

.md-header[data-md-state=shadow] {
  box-shadow: none;
}

.md-sidebar {
  width: 14rem;
}

.md-typeset h1 {
  font-size: 40px;
  color: #181818;
}

.md-typeset h2 {
  font-size: 28px;
  color: #181818;
}

.md-typeset h3 {
  font-size: 19px;
  color: #181818;
}

[data-md-color-primary=light-blue] .md-typeset a {
  color: #008BEE;
}

.md-content__icon, .md-footer-nav__button, .md-header-nav__button, .md-nav__button, .md-nav__title:before, .md-search-result__article--document:before {
  padding-top: .5rem;
}

@media only screen and (max-width: 59.9375em){
  [data-md-color-primary=light-blue] .md-nav__source {
    background-color: #242424;
  }
}
  
@media only screen and (max-width: 76.1875em) {
  html [data-md-color-primary=light-blue] .md-nav--primary .md-nav__title--site {
    background-color: #181818;
  }
}

.md-typeset a {
  color: #008BEE;
}

[data-md-color-primary=light-blue] .md-nav__link--active, [data-md-color-primary=light-blue] .md-nav__link:active {
  color: #008BEE;
}

.headerlink:hover, .md-typeset h3[id]:target .headerlink {
  color: #008BEE;
}

.headerlink:hover, .md-typeset h3[id]:target .headerlink {
  color: #008BEE;
}

.md-nav__link--active, .md-nav__link:active {
  color: #008BEE;
}

.md-nav__link:focus, .md-nav__link:hover {
  color: #008BEE;
}

.md-search__input {
    background-color: #2F3030;
}
